extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='firstName') Имя:
      input#firstName.form-control(type='text' placeholder='Имя' name='firstName' required='true' value=(author === undefined ? '' : author.firstName))
      label(for='familyName') Фамилия:
      input#familyName.form-control(type='text' placeholder='Фамилия' name='familyName' required='true' value=(author === undefined ? '' : author.familyName))
    div.form-group
      label(for='dateOfBirth') Дата рождения:
      input#dateOfBirth.form-control(type='date' name='dateOfBirth' value=(author === undefined ? '' : (new Date(author.dateOfBirth)).toISOString().substr(0, 10)))
    div.form-group
      label(for='dateOfDeath') Дата смерти:
      input#dateOfDeath.form-control(type='date' name='dateOfDeath' value=(author === undefined ? '' : (new Date(author.dateOfDeath)).toISOString().substr(0, 10)))
    button.btn.btn-primary(type='submit') Отправить
  if errors
    ul
      for error in errors
        li= error.msg
